{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maticko</title>
    <link rel="stylesheet" href="{% static 'assets/main-PLACEHOLDER.css' %}">
    {% block inertia_head %}{% endblock inertia_head %}
</head>
<body>
    {% block inertia %}
        <div id="app" data-page="{{ page|escape }}"></div>
    {% endblock inertia %}
    <script type="module" src="{% static 'assets/main-PLACEHOLDER.js' %}"></script>
</body>
</html>